body {
    background-color: #f9fbff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 40px;
    height: auto;
    flex-shrink: 0;
}

.logo-text {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
.material-symbols-outlined {
    margin-bottom: auto;
    font-size: 50px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    gap: 40px;
}

.card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: transparent;
    
}

.btn-main {
    display: flex;
    flex-direction: row;
    transition: background-color 0.3s ease;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: #7494ec;
    margin: 10px;
    padding: 16px 30px;
    gap: 10px;
    width: 50%;
    height: 48px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.btn-main:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}

.btn-create {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid #181414;
    box-shadow: none;
    font-weight: bold;
}


.original-url {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.headline-text {
    font-family: inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing:  -0.02em;
}

.text-main {
    font-family: inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}